$primary:#4964a8;
$secondary:#98e6ff;
$tertiary:azure;
$accent:#ffc590;
$accentdark:#fdae66;
$soft:dimgrey;

@import "normalize";
@import "header";
@import "main";
@import "body";
@import "footer";
@import "mediaqueries";